<main class="form-register w-100 m-auto">
  <form method="post">
    <%- include('../partials/logo') -%>
      <h1 class="h3 mb-3 fw-normal">Please Enter Your Personal Info</h1>
      <% if (errors) { %>
        <ul class="text-start text-danger ">
          <% for (const err of errors){ %>
            <li class="">
              <%= err.msg %>
            </li>
            <% } %>
        </ul>
        <% } %>
        <div class="form-floating m-2">
          <input name="full_name" type="text" class="form-control" id="full_name" placeholder="Full Name"
            value="<%= donor.full_name %>">
          <label for="full_name">Full Name</label>
        </div>
        <div class="form-floating m-2">
          <input name="national_id" type="text" class="form-control" id="national_id" placeholder="National ID"
            value="<%= donor.national_id %>">
          <label for="national_id">National ID</label>
        </div>
        <div class="form-floating m-2">
          <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com"
            value="<%= donor.email %>">
          <label for="email">Email address</label>
        </div>

        <div class="form-floating m-2">
          <input name="password" type="password" class="form-control" id="password" placeholder="****"
            value="<%= donor.password %>">
          <label for="password">Password</label>
        </div>

        <div class="row justify-content-between">
          <div class="col-5 m-2">
            <select class="form-select" id="city_id" name="city_id">
              <option value="" selected disabled>Select City</option>
              <% cities.forEach(city=> { %>
                <option value="<%= city.id %>" <%=donor.city_id==city.id ? "selected" :'' %> ><%= city.name %>
                </option>
                <% }) %>

            </select>
          </div>
          <div class="col-5 m-2">
            <select class="form-select" id="blood_type_id" name="blood_type_id">
              <option selected disabled value="">Select Blood Type</option>
              <% blood_types.forEach(blood_type=> { %>
                <option value="<%= blood_type.id %>" <%=donor.blood_type_id==blood_type.id ? "selected" :'' %> ><%=
                    blood_type.name %>
                </option>
                <% }) %>
            </select>
          </div>
        </div>

        <div class="row p-3 justify-content-center">
          <a class="col-4 mx-2 btn btn-lg btn-secondary " href="/donor/login">Login</a>
          <button class="col-4 mx-2 btn btn-lg btn-primary d-inline" type="submit">Register</button>
        </div>
                  <p class="mt-5 mb-3 text-muted">&copy; <%= new Date().getFullYear(); %>
          </p>
  </form>
</main>