<h2>Donation Requests</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Donor National Id</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Status</th>
                <th scope="col">Virus Test</th>
                <th scope="col">Donation Id</th>
            </tr>
        </thead>
        <tbody>
            <% donation_requests.forEach(dr=> { %>

                <tr>
                    <td>
                        <a class="link text-dark" href="/donation-request/<%= dr.id %>">
                            <%= dr.id %>
                        </a>
                    </td>
                    <td>
                        <a class="link text-dark" href="/donor/<%= dr.donor_id %>">
                            <%= dr.donor.national_id %>
                        </a>
                    </td>
                    <td>
                        <%= dr.blood_type_id %>
                    </td>
                    <td>
                        <%= dr.status %>
                    </td>
                    <td>
                        <% if (dr.test_result!='Pending' ) { %>
                            <% if (dr.test_result=='Negative') { %>
                                <span class="text-success ">Negative</span>
                            <% } else { %>
                                <span class="text-danger ">Positive</span>
                            <% } %>

                        <% } else { %>
                            <a class="link btn btn-sm btn-outline-warning"
                                href="/donation-request/<%= dr.id %>/virus-test-result">Submit Result</a>
                        <% } %>
                    </td>
                    <td>
                        <%= dr.donation_id %>
                    </td>
                </tr>
                <% }); %>

        </tbody>
    </table>
</div>

<%- contentFor('styles') %>
    <%- contentFor('script') %>