<h1>Donation Request #<%= request.id %>
</h1>
<p>
    <span>Donor Id:</span>
    <a class="text-decoration-none btn btn-outline-secondary btn-sm" href="/donor/<%= request.donor_id %>">
        <%= request.donor.full_name %>
    </a>
</p>

<p>Blood Type : <%= request.blood_type.name %>
</p>
<p>Status : <%= request.status %>
</p>
<p>Virus Test : <%= request.test_result %>
</p>

<a class="btn btn-sm btn-outline-secondary" href="/donation-requests/">
    <span data-feather="arrow-left" class="align-text-bottom"></span> donation requests</a>
<%- contentFor('styles') %>
    <%- contentFor('script') %>